.container {
  width: 1020px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  align-items: left;
  border: 2px solid black;
}

.item {
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  border: 2px solid purple;
  background-color: plum;
  text-align: center;
}
