.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: fit-content;
  margin: 0;
}

.link {
  text-decoration: none;
}
.tablink {
  list-style: none;
  background-color: inherit;
  float: left;
  border: 1px solid #ccc;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tablink:hover {
  background-color: #ddd;
}

.tablink.active {
  background-color: #ccc;
}
