.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border: 2px solid black;
}

.item {
  box-sizing: border-box;
  max-width: 250px;
  height: 500px;
  border: 2px solid purple;
  background-color: plum;
  text-align: center;
}
