div {
  background-color: aqua;
  border: solid 3px black;
  height: 100px;
  width: 100px;
}

img {
  height: 100px;
  width: 100px;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}
