.App {
  display: flex;
}

.half1 {
  background-color: pink;
  color: grey;
  width: 50vw;
  height: 100vh;
  padding: 20px;
}

.half2 {
  background-color: lightblue;
  color: blue;
  width: 50vw;
  height: 100vh;
  padding: 20px;
}
